<div id="<%= dom_id vehicle_inspection %>">
  <p>
    <strong>Vehicle:</strong>
    <%= vehicle_inspection.vehicle_id %>
  </p>

  <p>
    <strong>Inspection date:</strong>
    <%= vehicle_inspection.inspection_date %>
  </p>

  <p>
    <strong>Vehicle org:</strong>
    <%= vehicle_inspection.vehicle_org_id %>
  </p>

  <p>
    <strong>Org name:</strong>
    <%= vehicle_inspection.org_name %>
  </p>

  <p>
    <strong>Inspection period:</strong>
    <%= vehicle_inspection.inspection_period_id %>
  </p>

  <p>
    <strong>Inspection passed:</strong>
    <%= vehicle_inspection.inspection_passed %>
  </p>

</div>
